@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    background-color: var(--primaryColor);
}

:root {
    --primaryColor: #1d3557;
    --secundaryColor: #e63946;
    --terciaryColor: #457b9d;
}

section {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    margin: 200px auto;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}

h1 {
    color: var(--terciaryColor);
    display: block;
    margin: 25px auto;
}

input {
    margin-bottom: 20px;
    border-bottom: 2px solid #323232;
}

label {
    margin-bottom: 5px;
}

input, label {
    display: block;
    width: 100%;
    outline: none;
}

input:focus {
    border-color: var(--terciaryColor);
}

#btn-submit {
    border: none;
    margin-top: 20px;
}

.error-validation {
    top: 57px;
    color: #ff1a1a;
    position: absolute;
    font-size: 12px;
}

.template {
    display: none;
}